# **Dataset 1: Heart attack data.**

In [80]:
import pandas as np
ha_costs_df = np.read_csv("mmd_heart_attack_data.csv")

In [81]:
ha_costs_df.head(2)
ha_costs_df.tail(2)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [82]:
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
year                   2656 non-null int64
geography              2656 non-null object
measure                2656 non-null object
adjustment             2656 non-null object
analysis               2656 non-null object
domain                 2656 non-null object
condition              2656 non-null object
primary_sex            2656 non-null object
primary_age            2656 non-null object
primary_dual           2656 non-null object
fips                   2656 non-null int64
county                 2656 non-null object
state                  2656 non-null object
urban                  2656 non-null object
primary_race           2656 non-null object
primary_denominator    2656 non-null object
analysis_value         2656 non-null int64
dtypes: int64(3), object(14)
memory usage: 352.8+ KB

Get TN data

In [83]:
ha_costs_df_tn = ha_costs_df.query('state == "TENNESSEE"') #select only TN data

In [84]:
ha_costs_df_tn.info() #There are 91 rows for TN data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 2030 to 2120
Data columns (total 17 columns):
year                   91 non-null int64
geography              91 non-null object
measure                91 non-null object
adjustment             91 non-null object
analysis               91 non-null object
domain                 91 non-null object
condition              91 non-null object
primary_sex            91 non-null object
primary_age            91 non-null object
primary_dual           91 non-null object
fips                   91 non-null int64
county                 91 non-null object
state                  91 non-null object
urban                  91 non-null object
primary_race           91 non-null object
primary_denominator    91 non-null object
analysis_value         91 non-null int64
dtypes: int64(3), object(14)
memory usage: 12.8+ KB

In [85]:
ha_costs_df_tn.nunique() #There are 91 unique counties (the same number is the row dimension)

year                    1
geography               1
measure                 1
adjustment              1
analysis                1
domain                  1
condition               1
primary_sex             1
primary_age             1
primary_dual            1
fips                   91
county                 91
state                   1
urban                   2
primary_race            1
primary_denominator     1
analysis_value         91
dtype: int64

### View the county names

In [86]:
print(ha_costs_df_tn['county'])

2030      Anderson County
2031       Bedford County
2032        Benton County
2033       Bledsoe County
2034        Blount County
2035       Bradley County
2036      Campbell County
2037        Cannon County
2038       Carroll County
2039        Carter County
2040      Cheatham County
2041       Chester County
2042     Claiborne County
2043          Clay County
2044         Cocke County
2045        Coffee County
2046      Crockett County
2047    Cumberland County
2048      Davidson County
2049       Decatur County
2050        DeKalb County
2051       Dickson County
2052          Dyer County
2053       Fayette County
2054      Fentress County
2055      Franklin County
2056        Gibson County
2057         Giles County
2058      Grainger County
2059        Greene County
              ...
2091    Montgomery County
2092        Morgan County
2093         Obion County
2094       Overton County
2095         Perry County
2096          Polk County
2097        Putnam County
2098          Rhea County
2099         Roane County
2100     Robertson County
2101    Rutherford County
2102         Scott County
2103    Sequatchie County
2104        Sevier County
2105        Shelby County
2106         Smith County
2107       Stewart County
2108      Sullivan County
2109        Sumner County
2110        Tipton County
2111     Trousdale County
2112        Unicoi County
2113         Union County
2114        Warren County
2115    Washington County
2116         Wayne County
2117       Weakley County
2118         White County
2119    Williamson County
2120        Wilson County
Name: county, Length: 91, dtype: object

### How many counties are rural vs urban?
- Generate a new data frame for each

In [89]:
rural = ha_costs_df_tn.query('urban == "Rural"')
urban = ha_costs_df_tn.query('urban == "Urban"')
ha_costs_df_tn.urban.value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

### Is there a difference in distribution between rural and urban?
- Both look very similar for mean and median.
- More dispersion in the urban data.

In [91]:
print(urban.describe())
print(rural.describe()) # there does not appear to be a large difference in the mean analysis_value

         year          fips  analysis_value
count    38.0     38.000000       38.000000
mean   2017.0  47103.789474    45748.921053
std       0.0     60.904071     7109.788921
min    2017.0  47001.000000    32279.000000
25%    2017.0  47049.500000    40452.750000
50%    2017.0  47112.000000    45496.500000
75%    2017.0  47160.500000    50734.500000
max    2017.0  47189.000000    61541.000000
         year          fips  analysis_value
count    53.0     53.000000       53.000000
mean   2017.0  47086.320755    45773.075472
std       0.0     50.309723     6232.724885
min    2017.0  47003.000000    30831.000000
25%    2017.0  47045.000000    41240.000000
50%    2017.0  47085.000000    45384.000000
75%    2017.0  47123.000000    48998.000000
max    2017.0  47185.000000    62641.000000

### End of dataset 1

# Dataset 2: Cancer data

In [102]:
#create df of cancer_costs_df from mmd_cancer_data.csv
cancer_costs_df = np.read_csv("mmd_cancer_data.csv")

In [103]:
cancer_costs_df.head(2)
cancer_costs_df.tail(2)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [104]:
cancer_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3165 entries, 0 to 3164
Data columns (total 17 columns):
year                   3165 non-null int64
geography              3165 non-null object
measure                3165 non-null object
adjustment             3165 non-null object
analysis               3165 non-null object
domain                 3165 non-null object
condition              3165 non-null object
primary_sex            3165 non-null object
primary_age            3165 non-null object
primary_dual           3165 non-null object
fips                   3165 non-null int64
county                 3165 non-null object
state                  3165 non-null object
urban                  3165 non-null object
primary_race           3165 non-null object
primary_denominator    3165 non-null object
analysis_value         3165 non-null int64
dtypes: int64(3), object(14)
memory usage: 420.4+ KB

In [105]:
cancer_costs_df.shape

(3165, 17)

In [106]:
cancer_costs_df_tn = cancer_costs_df.query('state == "TENNESSEE"')
cancer_costs_df_tn.info() #looks like there are 95 rows for TN data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 2396 to 2490
Data columns (total 17 columns):
year                   95 non-null int64
geography              95 non-null object
measure                95 non-null object
adjustment             95 non-null object
analysis               95 non-null object
domain                 95 non-null object
condition              95 non-null object
primary_sex            95 non-null object
primary_age            95 non-null object
primary_dual           95 non-null object
fips                   95 non-null int64
county                 95 non-null object
state                  95 non-null object
urban                  95 non-null object
primary_race           95 non-null object
primary_denominator    95 non-null object
analysis_value         95 non-null int64
dtypes: int64(3), object(14)
memory usage: 13.4+ KB

### There are 95 counties in the cancer data set, but only 91 were in the heart attack data set

In [109]:
#method 1
county_differences_method1 = list(set(cancer_costs_df_tn.county) - set(ha_costs_df_tn.county))
county_differences_method1 #looks like Van Buren, Pickett, Hancock, and Moore County are contained in only 1 of the datasets
#note that this solution will only work when the first list has the extra counties and is probably not a good approach

#method 2
county_differences_method2 = cancer_costs_df_tn[~cancer_costs_df_tn.county.isin(ha_costs_df_tn.county)]
#but, again, this solution only appears to work if 1 list is missing all the values in the other list
#perhaps two for loops is the only good approach? I'll try that below in method 3

#method 3: create a list of counties in each dataset and use the set difference() method
cancer_counties = list(cancer_costs_df_tn.county.unique())
ha_counties = list(ha_costs_df_tn.county.unique())
county_differences_method3 = list(set(cancer_counties).difference(ha_counties))
        
print("method 1: ", county_differences_method1)
print("method 2: ", county_differences_method2.loc[:,['county']])
print("method 3: ", county_differences_method3)

#method 3 appears to be the best approach to this problem and will work for unique values in both datasets

method 1:  ['Moore County', 'Hancock County', 'Van Buren County', 'Pickett County']
method 2:                  county
2429    Hancock County
2459      Moore County
2464    Pickett County
2483  Van Buren County
method 3:  ['Van Buren County', 'Moore County', 'Hancock County', 'Pickett County']

In [110]:
cancer_costs_df_tn.describe()

         year          fips  analysis_value
count    95.0     95.000000       95.000000
mean   2017.0  47095.000000    19757.894737
std       0.0     55.136195     2436.304533
min    2017.0  47001.000000    15454.000000
25%    2017.0  47048.000000    18103.500000
50%    2017.0  47095.000000    19563.000000
75%    2017.0  47142.000000    21153.000000
max    2017.0  47189.000000    27740.000000

##### end of second dataset2

# Dataset 3: IRS data

In [111]:
#dataset 3
income_df = np.read_csv('irs_county_2016.csv')
income_df.head(2)
income_df.tail(2)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
25534,56,WY,45,Weston County,7,460,40,420,0,320,...,460,7958,0,0,0,0,180,907,260,1045
25535,56,WY,45,Weston County,8,90,0,80,0,80,...,90,7195,0,0,50,146,50,2257,30,377

In [112]:
income_df_tn = income_df.query('STATE == "TN"')
income_df_tn.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
19752,47,TN,0,Tennessee,1,39580,22400,14440,980,25390,...,6760,17669,200,287,0,0,3970,7167,16170,59567
19753,47,TN,0,Tennessee,2,439770,345410,39920,49300,188490,...,109250,62045,0,0,0,0,37380,18477,366150,366510
19754,47,TN,0,Tennessee,3,717430,398720,115040,189290,341750,...,449870,461060,0,0,0,0,63270,70761,635450,1870568
19755,47,TN,0,Tennessee,4,759340,355970,217710,159890,347430,...,629080,1669328,110,100,0,0,104290,176690,646420,1783890
19756,47,TN,0,Tennessee,5,396810,128390,215890,42240,198820,...,382580,2135577,30,29,0,0,87440,220372,302390,849648

In [113]:
income_df_tn.shape

(768, 148)

In [114]:
#get list of column names from df and make a new df with only the provided columns (given in the inclusive_cols list below)
df_cols = income_df_tn.columns.values.tolist() 
#print(df_cols)

inclusive_cols = ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']

#method 1: create list of column names to be dropped (see method1 using .drop() below)
cols_to_drop = []
for col in df_cols:
    if col in inclusive_cols:
        cols_to_drop = cols_to_drop
    else :
        cols_to_drop.append(col)

#method 1
income_dropped_cols_method1 = income_df_tn.drop(columns = cols_to_drop) #drop all other columns

#method 2
income_dropped_cols_method2 = income_df_tn.loc[:,inclusive_cols] #select inclusive columns

In [115]:
#create new labels given the following labels below
new_col_labels = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

#assign new labels
income_dropped_cols_method1.columns = new_col_labels

#check to see if labels updated
income_dropped_cols_method1

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894
19757,TN,Tennessee,6,241730,43690,182110,12690,606940,183160,71640,20916820,241730,21167809,6350,21411
19758,TN,Tennessee,7,298270,33380,254300,8230,807590,255170,91150,39800165,298270,40397276,5490,20281
19759,TN,Tennessee,8,97920,8640,85910,1760,281650,97810,31990,50066256,97920,51122320,560,2401
19760,TN,Anderson County,1,390,220,140,0,570,60,210,-7663,240,-7465,0,0
19761,TN,Anderson County,2,5170,4010,500,610,5330,1260,950,27496,5170,28135,60,156
19762,TN,Anderson County,3,8190,4670,1500,1840,13930,4590,1950,140592,8190,142497,180,597
19763,TN,Anderson County,4,8280,3750,2810,1440,16160,5090,2030,298169,8280,300960,200,699
19764,TN,Anderson County,5,4630,1390,2720,420,10470,3110,1510,284857,4630,287608,140,539
19765,TN,Anderson County,6,2950,510,2270,130,7320,2110,1090,255501,2950,257993,60,236
19766,TN,Anderson County,7,3850,380,3350,110,10020,2820,1530,516344,3850,521922,60,225
19767,TN,Anderson County,8,830,60,740,0,2150,580,400,292013,830,298832,0,0
19768,TN,Bedford County,1,350,180,160,0,560,60,190,-29152,270,-28891,0,0
19769,TN,Bedford County,2,3010,2230,340,410,3410,940,570,16447,3010,16807,40,86
19770,TN,Bedford County,3,5240,2620,950,1570,9920,3980,990,91011,5240,92214,110,275
19771,TN,Bedford County,4,6140,2580,1820,1550,13430,5500,1010,220417,6140,222211,120,315
19772,TN,Bedford County,5,2810,680,1790,300,7100,2490,690,172994,2810,174984,70,153
19773,TN,Bedford County,6,1560,160,1340,50,4240,1340,400,134313,1560,135743,40,113
19774,TN,Bedford County,7,1500,110,1350,30,4120,1270,450,193908,1500,196889,30,81
19775,TN,Bedford County,8,310,40,260,0,770,210,130,171214,310,175952,0,0
19776,TN,Benton County,1,140,70,60,0,220,20,80,-5320,110,-5172,0,0
19777,TN,Benton County,2,1100,770,170,150,1360,350,280,6035,1100,6202,20,40
19778,TN,Benton County,3,1850,880,470,470,3470,1190,510,31383,1850,31821,90,231
19779,TN,Benton County,4,1650,600,720,280,3440,1080,470,59431,1650,60110,120,373
19780,TN,Benton County,5,850,210,560,70,1940,530,290,51920,850,52520,80,260
19781,TN,Benton County,6,490,70,410,30,1230,330,180,42310,490,42785,20,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,TN,Weakley County,3,3360,1780,750,760,5870,1920,850,57683,3360,58521,180,451
20491,TN,Weakley County,4,3270,1320,1250,590,6700,2180,770,116175,3270,117571,230,460
20492,TN,Weakley County,5,1750,360,1230,120,4400,1410,480,107918,1750,109053,100,258
20493,TN,Weakley County,6,1010,120,860,50,2670,800,330,87228,1010,88361,40,125
20494,TN,Weakley County,7,900,100,810,0,2460,750,330,116840,900,118876,20,82
20495,TN,Weakley County,8,180,0,160,0,460,130,90,74280,180,76050,0,0
20496,TN,White County,1,200,90,110,0,330,20,120,-4409,160,-4362,0,0
20497,TN,White County,2,1860,1350,290,190,2130,450,390,9905,1860,10157,40,74
20498,TN,White County,3,3080,1540,760,720,5670,1940,720,53397,3080,54275,120,276
20499,TN,White County,4,2890,1050,1260,490,6240,2100,660,103095,2890,104092,90,181
20500,TN,White County,5,1530,270,1150,90,3830,1160,420,93302,1530,94250,70,134
20501,TN,White County,6,750,60,680,20,2090,660,220,64862,750,65462,40,105
20502,TN,White County,7,610,70,550,0,1640,480,210,77829,610,78937,0,0
20503,TN,White County,8,110,0,100,0,300,90,50,40277,110,41660,0,0
20504,TN,Williamson County,1,1600,870,610,60,2690,700,570,-242930,1360,-240149,0,0
20505,TN,Williamson County,2,14170,12940,680,420,6760,1060,1640,63757,14170,66080,70,207
20506,TN,Williamson County,3,11970,8590,1810,1350,16030,3930,2890,204554,11970,210313,130,507
20507,TN,Williamson County,4,15000,8190,4170,2090,27130,8140,3540,553344,15000,567256,250,1038
20508,TN,Williamson County,5,11410,4210,5610,1220,25110,8120,3280,708202,11410,725157,220,697
20509,TN,Williamson County,6,10010,2100,7070,620,26240,9170,2990,873276,10010,890366,210,743
20510,TN,Williamson County,7,23520,2170,20310,810,71080,27280,5840,3313474,23520,3378406,410,1365
20511,TN,Williamson County,8,15450,790,14260,310,51170,21470,3380,7627633,15450,7785645,140,568
20512,TN,Wilson County,1,760,410,300,30,1170,150,380,-39647,600,-38695,0,0
20513,TN,Wilson County,2,8460,7070,690,570,6710,1380,1420,43692,8460,44964,60,202
20514,TN,Wilson County,3,11330,7160,1850,2040,17420,5260,2650,194030,11330,197522,200,673
20515,TN,Wilson County,4,14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,5,9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,6,7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,7,10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,8,2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118

# Week 2 task: create dictionary with new labels for income brackets

In [ ]:
income_dict = {1: 'Total',
               2: 'Under $1', 
               3: 'Between 1 and $10,000', 
               4: 'Between 10,000 and $25,000',
               5: 'Between 25,000 and $50,000', 
               6: 'Between 50,000 and $75,000', 
               7: 'Between 75,000 and $100,000', 
               8: 'Between 100,000 and $200,000', 
               '$200,000 or more'}

In [118]:
income_df_tn['income_bucket'].nunique()

KeyError: 'income_bucket'